@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cerfitier-blue: #1664d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cerfitier-blue: var(--cerfitier-blue);
  --font-sans: var(--font-tt-firs-neue), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.wrapper {
  @apply mx-auto;
  max-width: 1200px;
}
